{% extends "base.html" %}

{% block title %}Activity Feed{% endblock %}

{% block content %}
	<section class="sidebar">
		<form action="{% url 'activity_feed.views.filter_activities' %}" method="GET" class="filter" id="filter">
			<fieldset>
				<legend>Activity Feed filters</legend>
				<div>
					<label>Creator</label>
					<select name="creator" id="creator_filter">
						<option value="" selected>all</option>
						{% for creator in users %}
						<option value="{{ creator.id }}">{{ creator }}</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<label>Target</label>
					<select name="target" id="target_filter">
						<option value="" selected>all</option>
						{% for target in users %}
						<option value="{{ target.id }}">{{ target }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="submit" value="Submit" />
			</fieldset>
			{% csrf_token %}
		</form>
		<section class="activity_list" id="activity_list">
			<ul>
			{% include activity_list_template %}
			</ul>
			<div class="pagination" id="pagination">
			    <span class="step-links">
			        {% if activities.has_previous %}
			            <a href="{{ current_uri }}page/{{ activities.previous_page_number }}/">previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ activities.number }} of {{ activities.paginator.num_pages }}
			        </span>

			        {% if activities.has_next %}
			            <a href="{{ current_uri }}page/{{ activities.next_page_number }}/">next</a>
			        {% endif %}
			    </span>
			</div>
		</section>
	</section>

	<section class="add_activity" id="add_activity">
		<form action="{% url 'activity_feed.views.create_activity' %}" method="POST">
			<fieldset>
				<legend>Create Activity</legend>
				<div>
					<label>Creator</label>
					<select name="creator" id="new_creator">
						{% for creator in users %}
						<option value="{{ creator.id }}">{{ creator }}</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<label>Target</label>
					<select name="target" id="new_target">
						{% for target in users %}
						<option value="{{ target.id }}">{{ target }}</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<label>Type</label>
					<select name="category" id="category">
						{% for category in activity_categories %}
						<option value="{{ category.content }}">{{ category.content }}</option>
						{% endfor %}
						<option value="">custom activity...</option>
					</select>
				</div>
				<div id="activity_content">
					<label>Content</label>
					<textarea name="content"></textarea>
				</div>
				<input type="submit" value="Submit" />
			</fieldset>
			{% csrf_token %}
		</form>
	</section>
{% endblock %}


{% block js %}
{{ block.super }}
<script>
// jQuery IIFE
// source: http://gregfranko.com/blog/i-love-my-iife/
(function(jscode) {
    jscode(window.jQuery, window, document);
}(function($, window, document) {
    $(function() {

        // The DOM is ready

        var add_activity = $('#add_activity');
        var activity_list = $('#activity_list');
        var content = add_activity.find('#activity_content');
        var category_select = add_activity.find('#category');
        var filter = $('#filter');
        var creator_filter = filter.find('#creator_filter');
        var target_filter = filter.find('#target_filter');


        // set default values on page refresh
        $(window).load(function() {
            // unnecessary elements
            filter.find('input[type=submit]').remove();      // filter button
            activity_list.find('#pagination').remove();      // paginator

            category_select[0].selectedIndex = 0;  // first list element
            category_select.trigger('change');

            creator_filter.val('');
            target_filter.val('');
            filter.find('select').trigger('change');
            });


        // show custom content text area
        category_select.change(function() {
            if ($(this).val() == '') {  // selected custom content
                content.show();
                }
            else {
                content.hide();
                }
            }).change();

        // filter activities
        filter.change('select', function() {
            var creator_id = creator_filter.val();
            var target_id = target_filter.val();
            filterBy(creator_id, target_id).done(function(data) {
                activity_list.html(data);
                });
            }).change();

        // add activity
        add_activity.submit(function(e) {
            var creator_id = creator_filter.val();
            var target_id = target_filter.val();
            var form = $(this).find('form');
            var new_creator = form.find('#new_creator');
            var new_target = form.find('#new_target');

            e.preventDefault();  // cancel form submit request

            addActivity(form).done(function(data) {
                if (((new_creator.val() == creator_id) || (creator_id == '')) &&
                    ((new_target.val() == target_id) || (target_id == '')) &&
                    (data != '')) {

                    activity_list.prepend(data);  // new activity on top
                    }
                data = '';  // clear data
                });
            });

        });


    // The DOM is not ready

    function filterBy(creator_id, target_id) {
        /*
        Sends ajax request to filter activities
        */
        var uri = '/';
        var creator_uri = '{% url "creator_filter" 0 %}';
        var target_uri = '{% url "target_filter" 0 %}';
        if (creator_id != '') {
            // remove leading slash and set proper creator id
            uri += creator_uri.replace(/^\//g, '').replace(0, creator_id);
            }
        if (target_id != '') {
            // remove leading slash and set proper target id
            uri += target_uri.replace(/^\//g, '').replace(0, target_id);
            }

        return $.ajax(uri);
        };


    function addActivity(form) {
        /*
        Sends ajax request to create new activity.
        */
        var formData = form.serialize();
        var uri = '{% url "activity_feed.views.create_activity" %}';

        return $.post(uri, formData, 'html');
        };

}));
</script>
{% endblock %}